.header{
    height: 95vh;
    /*! it takes the 95 percent of the total box size. you will see a 5% blank area */
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)), url(../img/hero.jpg);
    /* rgba= red green blue and opacity: ; */
    /*! 'liniar gradient right' here mixture of two colors starting from left to right: ;  */
    /*! 'liniar gradient right bottom' here mixture of two colors starting from left to right but at the bottom cornder ;  */
    /*! 'liniar gradient right bottom ' here mixture of two colors adn the image starting from left to right but at the bottom cornder ;  */
    background-size: cover;
    /*! whatever the width of the viewport. 'cover' will try to fit in that width */
    background-position: top ;
    /*! wahtever the viewport size image always stays at  the top of the container  */
    -webkit-clip-path: polygon(0 0,100% 0 , 100% 75%, 0 100%);
    clip-path: polygon(0 0,100% 0 , 100% 75%, 0 100%);
      /*! this line cuts the image. you have to set the four co ordinates  */
      /*! a tool called 'clippy' can be used for this. search in google  */
    /* clip-path: polygon(0 0,100% 50% , 100% 50%, 0 100%); */
    /*!this line makes triangle  */
    position: relative;
    /*? header image is relative but other contents are absolute. means they move but header stasys fixed relative to them  */
    /*?this position is relative acording to the logo and logo-box  */

    &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;  
    }

    &__logo{
        height: 30px;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /*! first we fixed a position  */
        transform: translate(-50%,-50%);
        /*! then we cut the position from the current position. because the whole position wasn't right  */
        text-align: center;
        /*! to keep all the texts at the center of the box  */
    }
    
} 
