.compositon{
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.4);
        border-radius:2px;
        position: absolute;

        z-index: 10;
        // to photos come forward

        transition: all .2s;

        outline-offset: 2rem;
        // this gives the space between the image and the square green line you see

        &--p1{
            left: 0;
            top:-2rem;
        }
        &--p2{
            right: 0;
            top:2rem;
        }
        &--p3{
            left: 20%;
            top:10rem;
        }




        &:hover{
            outline: 1.5rem solid $color-primary;
            // this property is for the green lines outside of the images
            transform: scale(1.05) translateY(-.5rem);
            // photo becomes bigger
            box-shadow: 0 ,2.5rem 4rem rgba($color-black,.5);
            z-index:20;
            // it's bigger than normal 'z-index' that's written on top . and that's why image will come forward 
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
 
    // when we select a phoeo it zooms but other photos shrink
}