
body {
    font-family: "Lato", sans-serif;;
    font-weight: 400;
    font-size: 16px; 
    line-height:1.7;
     /*! difference between two lines */
    color:$color-grey-dark;
    padding:30px;
    
}
.heading-primary{
    color:$color-white;
    text-transform: uppercase;

    /*? animation  */
    backface-visibility: hidden;
    /*!this resolves animation shaking. no one knows why  */
    margin-bottom: 60px;
    &--main{
        display: block;
        /*? this line creates line break  */
        font-size:60px;
        font-weight: 700;
        letter-spacing: 35px;
    
    
        /*! Animation part  */
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
    
        /* animation-delay: 3s; */
        /*! animation will start after 3s of loading the page  */
    
        /* animation-iteration-count: 3; */
        /*! animation will happen 3 times  */
    
        /* animation-timing-function: ease-in; */
        /*!ease-in== animation is slower and then fast  */
        /*!ease-out== animation is faster and then slow  */
    
    
        /*? we can also use animation when hover  */
    }
    &--sub{
        display: block;
        font-size:20px;
        font-weight: 700;
        letter-spacing: 17.4px;
    
        /*! animation part  */
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out

    
    }
}


.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // this keeps the background color within the text
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    // this is the color of the text
    -webkit-background-clip: text;
    // this line keeps the color in the text
    color: transparent;
    // this line keeps the text invisible
    transition: all .2sec;
    letter-spacing: 2px;


    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1); 
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

}

